[data-theme="light"] {
    --primary: #ececec;
    --background: url("img/Dirty-Fog.png");
    --text: #000;
    --text-sobre: #fff;
    --background_cards:url("../../assets/gui/menu_bg.png");
    --enfasis:#e726ee;
    --enfasis_transparente:#e726ee86;
    --color_header : #393d42;
    
}

[data-theme="dark"] {
    --primary: #252525;
    --background:url("../../assets/gui/Lawrencium.png");
    --text: #fff;
    --text-sobre: #000;
    --background_cards:url("../../assets/gui/menu_bg_d.png");
    --enfasis:#a610ac;
    --enfasis_transparente: #a710ac86;
    --color_header : #393d42;
}